@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header{
  width: 1000px;
}

h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body{
  width: 1000px;
}

section{
  width: 1000px;
  overflow: auto;

}

img{
  width: 200px;
  float: left;
}

#score{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

#message{
  padding-top: 20px;
  padding-bottom: 10px;
}

#one, #two{
  text-align: center;
  background-color: #ffb3b3;
  border-radius: 2px;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#one:hover, #two:hover{
  background-color: #2050df
}