*{
  font-family: "Helvetica Neue";
  font-weight: 200;
  color: #FFDF00;
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header, h1, div.quotedisplay{
  overflow: auto;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  width: 1000px;
}

h1{
  padding-top: 80px;
  padding-bottom: 50px;
  font-size: 300%;
}

#quotedisplay{
  padding-bottom: 50px;
}

.whosaidit{
  padding-bottom: 50px;
  color: #FBFCD4;
}

button{
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #1e272e;
  border-radius: 3px;
}


.profile-pic{
  display: inline;
  margin: 0 auto;
  width: 200px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

section{
  overflow: auto;
  width: 1000px;
  padding-bottom: 50px;
}


img {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 24%;
    height: 24%;
}

#fakebutton{
  padding-top: 40px;
}